.menu-botanik {
  --background: #BFFCBB; // fondo verde suave
  color: #4B0082; // texto violeta Botanik

  ion-header,
  ion-toolbar,
  ion-title {
    --background: transparent;
    color: #4B0082;
    font-weight: bold;
    border: none;
    box-shadow: none;
  }

  ion-content {
    --background: transparent;
  }

  ion-list {
    background: transparent;
  }

  ion-item {
    --background: transparent;
    color: #4B0082;
    font-weight: 500;
    --border-color: transparent;
  }

  ion-item:hover {
    --background: #9370DB;
    color: #FFFFFF;
  }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 0.6s ease-in forwards;
}