<ion-header class="login-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="logo-container">
      <app-logo></app-logo>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienestar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Lavanda</h2>
        <p>Relajante y aromática</p>
      </ion-label>
      <ion-note slot="end" color="success">$4.990</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Romero</h2>
        <p>Estimulante y purificador</p>
      </ion-label>
      <ion-note slot="end" color="success">$3.500</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Salvia</h2>
        <p>Equilibrante y medicinal</p>
      </ion-label>
      <ion-note slot="end" color="success">$5.200</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Menta</h2>
        <p>Refrescante y digestiva</p>
      </ion-label>
      <ion-note slot="end" color="success">$3.200</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Manzanilla</h2>
        <p>Calmante y suave</p>
      </ion-label>
      <ion-note slot="end" color="success">$2.800</ion-note>
    </ion-item>
  </ion-list>
  <div class="footer-image-container">
    <img src="assets/img/footer_watercolor.png" alt="Jardín Botanik" class="footer-image" />
  </div>
</ion-content>