<ion-header class="login-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="logo-container">
      <app-logo></app-logo>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Interior</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Teléfono</h2>
        <p>Ideal para sombra parcial y ambientes húmedos</p>
      </ion-label>
      <ion-note slot="end" color="success">$3.800</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Palmera de salón</h2>
        <p>Elegante y resistente a poca luz</p>
      </ion-label>
      <ion-note slot="end" color="success">$6.500</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Helecho</h2>
        <p>Prefiere humedad y sombra suave</p>
      </ion-label>
      <ion-note slot="end" color="success">$4.200</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Calathea</h2>
        <p>Follaje decorativo para interiores luminosos</p>
      </ion-label>
      <ion-note slot="end" color="success">$5.900</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Sansevieria</h2>
        <p>Purificadora y tolerante a poca luz</p>
      </ion-label>
      <ion-note slot="end" color="success">$4.700</ion-note>
    </ion-item>
  </ion-list>

  <div class="footer-image-container">
    <img src="assets/img/footer_watercolor.png" alt="Jardín Botanik" class="footer-image" />
  </div>
</ion-content>